@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


:root {
  --blue-primary: #65B9CB;
  --green-primary: #00A583; 
  --dark-green: #428B7C;
  --light-green: #78aba5;
  --dark-blue: #345C69;
   --background: #ffffff;
  --foreground: #171717;
    font-size: 16px;
  --line-height-base: 1.5;
  margin: 0;
  padding: 0;    
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-2xl leading-snug sm:text-3xl lg:text-4xl xl:text-5xl;
}

h2 {
  @apply text-xl leading-snug sm:text-2xl lg:text-3xl;
}

h3 {
  @apply text-lg leading-snug sm:text-xl;
}

h4 {
  @apply text-base leading-snug;
}

p {
  @apply text-sm leading-normal sm:text-base;
}

a {
  @apply text-base leading-normal font-bold sm:text-lg px-6 py-2.5 text-center bg-white rounded-md w-fit;
  text-decoration: none;
}