@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-primary: #65b9cb;
  --green-primary: #00a583;
  --dark-green: #428b7c;
  --light-green: #78aba5;
  --dark-blue: #345c69;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-2xl leading-snug sm:text-3xl lg:text-4xl xl:text-5xl;
}

h2 {
  @apply text-xl leading-snug lg:text-2xl;
}

h3 {
  @apply text-lg leading-snug sm:text-xl;
}

h4 {
  @apply text-base leading-snug;
}

p {
  @apply leading-normal text-sm xl:text-base;
}

a {
  @apply text-base leading-normal font-bold                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 px-6 py-2.5 text-center bg-white rounded-md w-fit;
  text-decoration: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100px); /* Départ en bas */
  }
  100% {
    transform: translateY(0); /* Position finale */
  }
}

.slide-up {
  animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both; /* Appliquer l'animation */
}

@keyframes opacity {
  0% {
    opacity: 0; /* Départ en bas */
  }
  100% {
    opacity: 1; /*  /* Position finale */
  }
}

.opacity {
  animation: opacity 0.85s forwards; /* Appliquer l'animation */
}
