/* styles.css */

/* Variables CSS pour les couleurs et les polices */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial, sans-serif';
    --font-size-base: 16px;
    --line-height-base: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Styles globaux */
  body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
  }
  
  /* Styles pour les titres */
  h1 {
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 0.5em;
  }
  
  h2 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 0.5em;
  }
  
  h3 {
    font-size: 1.75em;
    color: var(--secondary-color);
    margin-bottom: 0.5em;
  }
  
  h4 {
    font-size: 1.5em;
    color: var(--secondary-color);
    margin-bottom: 0.5em;
  }
  
  h5 {
    font-size: 1.25em;
    color: var(--secondary-color);
    margin-bottom: 0.5em;
  }
  
  h6 {
    font-size: 1em;
    color: var(--secondary-color);
    margin-bottom: 0.5em;
  }